@media (max-width: 1000px) {
  .promo {
    background-position: 40%;
  }

  .special-ads {

    &__list {
      gap: 10px;
    }

    &__item {
      padding: 10px;
    }
  }

  .info {

    &__wrapper {
      gap: 10px;
    }

    &__card {
      align-items: center;
      text-align: center;

      &::after {
        display: none;
      }
    }
  }

  .footer-top {

    &__back-call {
      flex-direction: column;
      gap: 5px;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  .header-bottom {
    &__wrapper {
      margin-bottom: 0;
    }

    &__back-call {
      flex-direction: column;
      gap: 10px;
    }
  }

  .special-ads {
    margin-bottom: 50px;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  .info {
    margin-bottom: 50px;

    &__wrapper {
      justify-content: center;
      gap: 0;
    }

    &__card {
      flex-basis: auto;
    }
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__social-list {
      order: 2;
    }

    &__address {
      order: 3;
    }

    &__back-call {
      order: 1;
    }
  }

  .footer-bottom {
    text-align: center;

    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    &__copyright {
      order: 2;
    }

    &__link {
      font-size: 14px;
      order: 1;
    }
  }
}

@media (max-width: 620px) {
  .header-bottom {

    &__back-call {
      position: absolute;
      top: 5px;
      right: 5px;
      flex-direction: row;
      gap: 10px;

      .back-call__phone {
        display: none;
      }
    }
  }

  .promo {
    background-position: 60%;
    margin-bottom: 20px;
    padding: 100px 0;

    &__wrapper {
      background-color: rgba($dark, 0.4);
      border-radius: 20px;
      padding: 10px;
    }

    &__title {
      font-size: 36px;
    }
  }

  .special-ads {
    &__title {
      &::after {
        display: none;
      }
    }

    &__list {
      grid-template-columns: 1fr;
    }
  }

  .info {
    margin-bottom: 20px;

    &__wrapper {
      flex-direction: column;
    }

    &__card {
      padding: 20px;
    }
  }
}