.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  width: 170px;
  border-radius: 40px;

  &--white {
    border: 2px solid $green;
  }

  &--green {
    color: $white;
    background-color: $green;
    border: 2px solid $white;
  }

  &--small {
    width: 130px;
  }
}