.header-top,
.header-bottom {
  display: flex;
  justify-content: center;
}

.header-top {
  position: relative;
  align-items: center;
  min-height: 50px;
  background-color: $grey;
  margin-bottom: 20px;
}

.header-bottom {
  margin-bottom: 30px;

  &__wrapper,
  &__logo {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    margin-bottom: 70px;
  }

  &__logo {
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $green;
  }
}