.promo {
  color: $white;
  background: url(../images/promo/promo-bg.png) no-repeat center;
  margin-bottom: 80px;
  padding: 192px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 310px;
    min-height: 220px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
  }

  &__text {
    line-height: 1.4;
  }
}