.social-list {
  display: flex;
  gap: 20px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid $green;
    border-radius: 50%;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $green;

      svg path {
        fill: $white;
      }
    }
  }
}